:root {
  --color-primary: #131313;
  --color-secondary: #ff9142;
  --text-primary: #ffffff;
  --text-secondary: #a8a8a8;
  --text-button: #f4f7fa;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Syne:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Syne", sans-serif;
}

// Default styling untuk mobile

body {
  background-color: var(--color-primary);
  color: var(--text-primary);
}

#hero-section {
  // background-color: red;

  .container-hero {
    background-color: purple;

    margin: 0 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }

  h1 {
    margin: 20px 0;
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    color: var(--text-button);
    background-color: var(--color-secondary);

    &:hover {
      background-color: #ffffff;
      color: #131313;
    }
  }
}

#about {
  .container-about {
    margin: 0 20px;

    .My-Profile {
      display: flex;
      justify-content: center;

      .card-img {
        width: 70%;

        img {
          width: 100%;
        }
      }
    }

    .text-profile {
      margin: 20px 0;
      text-align: center;

      h2 {
        font-weight: bold;
      }

      p {
        font-family: "Rubik", sans-serif;
        margin-top: 10px;
        font-weight: lighter;
        color: var(--text-secondary);
      }

      button {
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 25px;
        border: none;
        color: var(--text-button);
        background-color: var(--color-secondary);

        &:hover {
          background-color: #ffffff;
          color: #131313;
        }
      }
    }
  }
}

#projects {
  .container-project {
    .header-project {
      text-align: center;
      margin-top: 50px;

      h1 {
        margin-bottom: 20px;
      }

      button {
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 25px;
        border: none;
        color: var(--text-button);
        background-color: var(--color-secondary);

        &:hover {
          background-color: #ffffff;
          color: #131313;
        }
      }
    }
  }
}

// Mobile Keatas (min-width: 360px)
@media (min-width: 361px) {
  #hero-section {
    .container-hero {
      font-size: 50px;
      margin: 20px 10%;

      button {
        font-size: 24px;
        padding: 20px 40px;
        border-radius: 50px;
        border: none;
      }
    }
  }

  #about {
    .container-about {
      display: flex;
      justify-content: center;
      margin: 20px 10%;
      align-items: center;

      .My-Profile {
        order: 1;
        width: 50%;

        .card-img {
          width: 60%;
        }
      }

      .text-profile {
        width: 50%;

        h2 {
          font-size: 50px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}
